/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV 1
#define NUM 2
#define FUN 3
#define ADJ 4

#define COMBO(name, keypos, keypress) \
    combo_##name {                    \
        layers = <0>;                 \
        timeout-ms = <20>;            \
        bindings = <keypress>;        \
        key-positions = <keypos>;     \
    };

/ {
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping-term-ms = <160>;
                        quick_tap_ms = <70>;
                        flavor = "balanced";
                        bindings = <&kp>, <&kp>;
                };
        };

        combos {
          compatible = "zmk,combos";
          COMBO(tab, 3 4, &kp TAB)
          COMBO(sqt, 7 8, &kp SQT)
          COMBO(colon, 16 17, &kp COLON)
          COMBO(sqt, 17 18, &kp SQT)
          COMBO(fslh, 12 22, &kp FSLH)
          COMBO(bslh, 13 23, &kp BSLH)
          COMBO(caps, 23 25, &kp CAPS)
          COMBO(semi, 26 27, &kp SEMI)
        };

/**

Trying to recreate my entire keymap from my old keyboard from memory. RIP.

NUM rite thum
1 2 3 4 5     6 7 8 9 0
[ ] ( ) pg_up < v ^ > ;
{ } / \ pg_dn n n m , .

https://zmk.dev/docs/features/combos
https://www.reddit.com/r/ErgoMechKeyboards/comments/r7y42o/keymap_tinkering/
https://github.com/callum-oakley/qmk_firmware/tree/master/users/callum#oneshot-modifiers
https://www.reddit.com/r/ErgoMechKeyboards/comments/r7y42o/keymap_tinkering/hn4fo5r/
https://github.com/kagoromo/zmk-config/blob/master/config/west.yml
https://zmk.dev/blog/2022/04/10/zmk-sotf-5
https://github.com/MrMarble/zmk-viewer

SYM left thum
! @ # $ % ^ & * ( )
[ ] ( ) pg_up ~ = - < >
{ } / \ pg_dn | - m , .

**/


        keymap {
                compatible = "zmk,keymap";


                default_layer {
                        bindings = <
   &kp Q       &kp W       &kp E          &kp R          &kp T             &kp Y        &kp U         &kp I            &kp O          &kp P
   &kp A       &kp S       &kp D          &kp F          &kp G             &kp H        &kp J         &kp K            &kp L          &kp SEMI
   &hm LALT Z  &hm LGUI X  &hm LCTRL C    &hm LSHFT V    &hm LGUI B        &hm LGUI N   &hm RSHFT M   &hm LCTRL COMMA  &hm LGUI DOT   &hm LALT FSLH
                           &mt LGUI ESC   &lt NAV BSPC   &kp BSPC          &lt FUN RET  &lt NUM SPACE &lt ADJ DEL
                        >;
                };

                nav_layer {
                        bindings = <
   &kp EXCL  &kp AT        &kp HASH       &kp DLLR       &kp PRCNT         &kp CARET    &kp AMPS      &kp STAR         &kp LPAR       &kp RPAR
   &kp LBKT  &kp RBKT      &kp LBRC       &kp RBRC       &kp GRAVE         &kp TILDE    &kp EQUAL     &kp UNDER        &kp LBKT       &kp RBKT
   &kp LBRC  &kp RBRC      &kp FSLH       &kp BSLH       &none             &kp HOME     &kp PG_DN     &kp MINUS        &kp END        &kp QMARK
                           &none          &kp BSPC       &none             &lt FUN RET  &kp SPACE     &kp DEL
                        >;
                };

                num_layer {
                        bindings = <
   &kp N1    &kp N2        &kp N3         &kp N4         &kp N5            &kp N6       &kp N7        &kp N8           &kp N9         &kp N0
   &kp LBKT  &kp RBKT      &kp LBRC       &kp RBRC       &kp GRAVE         &kp TILDE    &kp DOWN      &kp UP           &kp RIGHT      &none
   &kp LBRC  &kp RBRC      &kp FSLH       &kp BSLH       &none             &kp HOME     &kp PG_DN     &kp PG_UP        &kp END        &none
                           &kp DOT        &kp N0         &kp MINUS         &none        &none         &none
                        >;
                };

                fun_layer {
                        bindings = <
   &kp F12     &kp F7      &kp F8         &kp F9         &none             &none        &none         &none            &none       &none
   &kp F11     &kp F4      &kp C_VOL_DN   &kp C_VOL_UP   &kp C_MUTE        &kp LEFT     &kp DOWN      &kp UP           &kp RIGHT   &kp LALT
   &kp F10     &kp F1      &kp F2         &kp F3         &none             &none        &kp LSHFT     &kp LCTRL        &kp LGUI    &kp LALT
                           &none          &kp BSPC       &kp TAB           &mo ADJ      &kp SPACE     &none
                        >;
                };

                adj_layer {
                        bindings = <
   &none         &none         &none         &none        &none            &none        &none   &none   &none   &none
   &bt BT_CLR    &bt BT_PRV    &bt BT_NXT    &reset       &bootloader      &bootloader  &reset  &none   &none   &none
   &out OUT_TOG  &none         &none         &none        &none            &none        &none   &none   &none   &none
                               &none         &none        &none            &none        &none   &none
                        >;
                };
        };
};
